:root {
    --defaultGrey: #e2dcda;
    --lgtGrey: #f4f1f1;
    --darkGrey: #392d2d;
    --darkBlue: #223F94;
}



.navContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--defaultGrey);
    width: fit-content;
    align-items:end;
}


.iconDisplay{
    display:flex;
    flex-direction: column;
    margin-top: 2.0em;
    margin-left: 2.0em;
    align-content: center;
}
    .iconDisplay img{
        text-decoration: none;
        
        width: 50px;
    }

    .iconDisplay p {
        margin: 0;
        text-align:center;
    }

hr {
    width: 100%;
    padding: 0;
    box-shadow: 1px var(--darkGrey);
}

.arrow{
    float: right;
    font-size: 20px;
    justify-self: center;
}

.dropbtn {
    border: 2px solid var(--darkGrey);
    border-top: 2px solid var(--lgtGrey);
    border-left: 2px solid var(--lgtGrey);
   
    font-size: 14px;
    z-index: 9;
}

    .dropbtn:hover, .dropbtn:focus {
        opacity: .75;
    }

.dropdown {
    position: relative;
    display: inline-block;
    left: 1.0em;
}

.dropdown-content {
    width: fit-content;
    display: none;
    position: absolute;
    background-color: var(--defaultGrey);
    border: 2px solid var(--darkGrey);
    border-radius: 1px;
    box-shadow: 0 1px 3px var(--darkGrey);
    z-index: 9;
    overflow: hidden;
    top: 5.8em;
    right: 1em;
    border-top: 2px solid var(--lgtGrey);
    border-left: 2px solid var(--lgtGrey);
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        margin:0;
    }

    .dropdown-content a:last-child {
        padding-bottom: .75em;
    }

        .dropdown-content a:hover {
            background-color: var(--darkBlue);
            color: var(--lgtGrey);
        }

.dropdown a:hover {
    background-color: var(--darkBlue);
    color: var(--lgtGrey);
}

.show {
    display: block;
}


/*second Drop Down content on hover*/
