:root {
    --background: whitesmoke;
}

header {
    font-family: 'Shadows Into Light Two', cursive;
    padding: 2.0em 6.0em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
}



body {
    margin:0px;
    background-color: var(--background);
}


.upperHeader{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 5.0em;
    margin-left: 10%;
}

.upperHeaderLetter {
    align-content: end;
    height: 350px;
    width: 150%;
    margin-right: -1.0em;
    max-width: 700px;
}

.upperHeaderImg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0.0em;
}
    .upperHeaderImg img {
        height: 450px;
    }

    .upperHeaderImg p{
        font-family: 'Shadows Into Light Two', cursive;
        font-size: 25px;
        padding: 1.0em;
        align-self: center;
        text-align:center;
    }

.centering{
    display:flex;
    flex-direction: column;
    justify-content:center;
    
}

.pageContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
    align-self: center;
    max-width: 70.0em;
    flex-wrap: wrap;
    
    padding: 1.5em 8.0em;
}

.indivdual{
    display:flex;
    flex-direction:column;
    margin-bottom: 2.0em;
}

    .indivdual h2 {
        font-family: 'Shadows Into Light Two', cursive;
        align-self: center;
        margin-top: 1.5em;
        text-transform: capitalize;
        flex-wrap: wrap;
        max-width: 275px;
        text-align: center;
    }

iframe {
    border: 0;
    width: 325px;
    height: 325px;
}

.footer {
    align-self: flex-end;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}